.logo-ctl{
  width: 50px;
  height: 50px;
}
.logoname{
  color:rgb(0, 162, 255);
  font-weight: bold;
}

.myNav li a{
color: black;
font-size: 20px;
font-weight: bold;
padding: 5px;
}

.myNav li a:hover{
  color: rgb(0, 183, 255);
  }

.hero-left{
 
}

.hero-left h2{
color: black;
padding-bottom: 10px;
padding-top: 100px;
}


.hero-left p{
  color: black;
  font-size: 16px;
  }
.hero-logo{
  color: rgb(0, 162, 255);
}

.hero-button{
  background: rgb(0, 225, 255);
  padding: 20px;
  border: 0px;
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.hero-button:hover{
  background:rgba(38, 117, 157, 0.949);
}

.body-content{
  margin-top: 50px;
  background-color: rgb(243, 241, 241);
  padding: 30px;
  width:435px;
  border:5px solid white;
  margin-bottom: 50px;
  
}

.footer{
  text-align: center;
  background-color: black;
  color:white;
  padding: 30px;
}


.loginArea{
  min-height: 500px;
}
.loginBody{
  margin-top: 200px;
}

.loginbutton{
  background-color: rgb(0, 234, 255);
  font-size: 20px;
  color:white;
  border: 0px;
  padding: 10px 40px;
  border-radius: 0px;
}
.loginbutton:hover{
  background-color: black;
}
.loginBody input{
  border-radius: 0px;
}

.themebutton{
  background-color: rgb(0, 174, 255);
  padding:10px 40px;
  margin-right: 10px;
  border-radius: 0px;
  border: 0px;
}

.themebutton:hover{
  background-color:black;
 
}

.transection-area{
  min-height: 700px;
}
.transection-form input{
  border-radius: 0px;
}
/* Existing styles... */

/* New styles */
.body-content {
  margin-top: 50px;
  background-color: rgb(230, 230, 250); /* Light lavender color */
  padding: 30px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.body-content:hover {
  transform: translateY(-10px);
}

.body-content h3 {
  color: rgb(0, 162, 255);
  margin-bottom: 20px;
}

.body-content p {
  color: rgb(80, 80, 80);
  font-size: 16px;
}

.logo-ctl {
  width: 50px;
  height: 50px;
}

.logoname {
  color: rgb(0, 162, 255);
  font-weight: bold;
}

.myNav li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.myNav li a:hover {
  color: rgb(0, 183, 255);
}

.hero-left h2 {
  color: black;
  padding-bottom: 10px;
  padding-top: 100px;
}

.hero-left p {
  color: black;
  font-size: 16px;
}

.hero-button {
  background: rgb(0, 225, 255);
  padding: 20px;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.hero-button:hover {
  background: rgba(38, 117, 157, 0.949);
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px;
}

.loginArea {
  min-height: 500px;
}

.loginBody {
  margin-top: 200px;
}

.loginbutton {
  background-color: rgb(0, 234, 255);
  font-size: 20px;
  color: white;
  border: 0px;
  padding: 10px 40px;
  border-radius: 0px;
}

.loginbutton:hover {
  background-color: black;
}

.loginBody input {
  border-radius: 0px;
}

.themebutton {
  background-color: rgb(0, 174, 255);
  padding: 10px 40px;
  margin-right: 10px;
  border-radius: 0px;
  border: 0px;
}

.themebutton:hover {
  background-color: black;
}

.transection-area {
  min-height: 700px;
}

.transection-form input {
  border-radius: 0px;
}
